Checks: >
    -*,
    bugprone-unhandled-self-assignment,
    modernize-deprecated-headers,
    modernize-make-unique,
    modernize-make-shared,
    modernize-redundant-void-arg,
    modernize-replace-random-shuffle,
    modernize-shrink-to-fit,
    modernize-use-bool-literals,
    modernize-use-emplace,
    modernize-use-equals-default,
    modernize-use-nullptr,
    modernize-use-override,
    performance-faster-string-find,
    readability-delete-null-pointer,
    -clang-analyzer-security.insecureAPI.rand
WarningsAsErrors: '*'
